body {
  background-color: #3f51b5; /* Bluish indigo background */
  color: #ffffff; /* Text color */
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 200px; /* Adjust margin as needed */
}

h1 {
  font-size: 36px;
}

button {
  background-color: #ffffff; /* Button background color */
  color: #3f51b5; /* Button text color */
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e0e0e0; /* Button background color on hover */
}
img
 {
  width: 300px;
 
;
}